.guide-tit-01 {
    line-height: 50px;
    font-size: 22px;
    font-weight: 500;
    padding-left: 30px;
    background: url(../images/ico-bullet.png) no-repeat center left;
}

/* 수정 */
.guide-tit-02 {
    display: flex;
    align-items: center;
    height: 75px;
    padding: 10px 0;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 500;
}

.inner-box {
    padding-bottom: 50px;
}


/* 수정 */
.inner-box p,
.inner-box li {
    padding-left: 10px;
    position: relative;
    line-height: 39px;
    font-size: 16px;
    color: #666;   
}


.inner-box ol > li::before {
    display: none;
}

/* 수정 */
.inner-box li::before {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    position: absolute;
    top: 17px;
    left: 0;
    background-color: #227C39;
}

table {
    margin: 10px 0;
    border: 1px solid #ebebeb;
    border-right: none;
    border-left: none;
}


.table-pc {
    display: none;
}

/* pc */
thead th {
    height: 50px;
    padding: 10px;
    font-size: 17px;
    font-weight: 500;
    border-right: 1px solid #fff;
    background-color: #E5EAE8;
    text-align: center;
}

thead th:nth-child(1){
    min-width: calc(100% - 160px);
}

thead th:nth-child(2),
thead th:nth-child(3){
    min-width: 80px;
}

tbody td {
    padding: 10px;
    line-height: 29px;
    border-top: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    text-align: center;
}

tbody td:last-child {
    border-right: none;
}

tbody td.borderRight {
    border-right: 1px solid #ebebeb;
}

/* ================================ */
/* guide01 */
/* 수정 */
.guide01 .inner-box li {
    padding-left: 25px;
    line-height: 39px;
    font-size: 16px;
    color: #666;   
}

.guide01 .inner-box li::before {
    left: 10px;
}

/* ================================ */
/* guide02 */
.guide02 .inner-box li {
    padding-left: 20px;
}

.guide02 .inner-box li::before {
    left: 5px;
}

main table .width-70 {
    min-width: 70px;
}

.discountInfo td:last-child {
    text-align: left;
}

/* ================================ */
/* guide03 */
.guide03 .guide-tit-02 {
    padding-left: 0;
}

.guide03 tbody td {
    padding: 5px;
}

.guide03 .inner-box table li {
    padding-left: 10px;
}

.guide03 .inner-box table li ::before {
    left: 0;
}

.align-left {
    text-align: left;
}

/* ================================ */
/* guide04 */
.guide04 table thead tr {
    border-top: 1px solid #fff;
}

.guide04 .table-mobile table {
    width: 100%;
}

.guide04 .table-mobile .width-70 {
    min-width: 70px;
}

.guide04 .table-mobile .width-80 {
    min-width: 80px;
}

/* ================================ */
/* guide05 */
.guide05 .guide-tit-02 {
    padding-left: 0;
}

.guide05 .inner-box p {
    padding-left: 20px;
}

.goto-reservation {
    display: block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    margin: 20px auto;
    border-radius: 50px;
    background-color: #227C39;
    color: #fff;
    font-weight: 500;
    text-align: center;
    box-sizing: border-box;
}

.goto-reservation:hover {
    text-decoration: underline;
}

.guide05 thead th:nth-child(1) {
    min-width: 80px;
}




/* ================================ */
/* guide06 */

.guide06 thead th {
    border: none;
}

.guide06 tbody td {
    border: none;
    border-bottom: 1px solid #ebebeb;
}

.guide06 tbody tr:hover {
    background-color: #f9f9f9;
}

/* tr.answer td {
    display: none;
} */

.guide06 tbody tr.active + tr.answer td {
    /*tr, td에 dispaly:block을 주면 레이아웃이 깨짐*/
    /* display: table-cell; */
    padding: 20px 15px;
    background-color: #f9f9f9;
}

.inner-box.top {
    display: none;
    flex-flow: column wrap;
    align-items: center;
    padding: 10px 0 ;
}

.search-box {
    width: 100%;
    padding: 40px;
    text-align: center;
}

.search-box .search-inner {
    position: relative;
    width: 80%;
    min-width: 200px;
    margin: 0 auto;
}

.search-box input {
    width: 100%;
    height: 50px;
    padding: 20px;
    line-height: 50px;
    border-radius: 50px;
    border: 1px solid #ebebeb;
}

.search-box button {
    position: absolute;
    right: 0;
    width: 80px;
    border-radius: 0 50px 50px 0;
    background-color: #227C39;
    color: #fff;
}


.category {
    display: flex;   
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}

.guide06 .category li {
    padding: 5px;
    line-height: normal;
}

.guide06 .category li button {
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    border: 1px solid #ebebeb;
    background-color: #fff;
    border-radius: 50px;
}

.guide06 .category li.active button {
    border: 1px solid #227C39;
    color: #227C39;
}

.guide06 .category li:hover button {
    text-decoration: underline;
} 

.guide06 .category li::before,
.guide06 .page li::before  {
    display: none;
}

.guide06 .page {
    display: flex;
    justify-content: center;
}

.guide06 .inner-box .page li {
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0 5px;
    line-height: 30px;
    border-radius: 100%;
    background-color: #fff;
    text-align: center;
    font-size: 12px;
}


.guide06 .inner-box .page li:hover {
    background-color: #E5EAE8;
}


.guide06 .inner-box .page li.active {
    background-color: #227C39;
    color: #fff;
}


/* ================================ */
/* guide07 */


@media all and (min-width: 768px){
    .guide-tit-01 {
        line-height: 50px;
        font-size: 22px;
        font-weight: 500;
        padding-left: 30px;
        background: url(../images/ico-bullet.png) no-repeat center left;
    }
    
    .guide-tit-02 {
        padding-left: 40px;
        line-height: 75px;
        font-size: 20px;
        font-weight: 500;
    }
    
    .inner-box {
        padding-bottom: 50px;
    }
    
    .inner-box p,
    .inner-box li {
        padding-left: 40px;
        position: relative;
        line-height: 39px;
        font-size: 16px;
        color: #666;   
    }
    
    
    .inner-box ol > li::before {
        display: none;
    }
    
    .inner-box li::before {
        content: "";
        display: block;
        width: 5px;
        height: 5px;
        position: absolute;
        top: 17px;
        left: 20px;
        background-color: #227C39;
    }
    
    table {
        margin: 10px 0;
        border: 1px solid #ebebeb;
        border-right: none;
        border-left: none;
    }
    
    
    .table-pc {
        display: none;
    }
    
    /* pc */
    thead th {
        height: 50px;
        padding: 10px;
        font-size: 17px;
        font-weight: 500;
        border-right: 1px solid #fff;
        background-color: #E5EAE8;
        text-align: center;
    }
    
    thead th:nth-child(1){
        min-width: calc(100% - 160px);
    }
    
    thead th:nth-child(2),
    thead th:nth-child(3){
        min-width: 80px;
    }
    
    tbody td {
        padding: 10px;
        line-height: 29px;
        border-top: 1px solid #ebebeb;
        border-right: 1px solid #ebebeb;
        text-align: center;
    }
    
    tbody td:last-child {
        border-right: none;
    }
    
    tbody td.borderRight {
        border-right: 1px solid #ebebeb;
    }


    .table-mobile {
        display: none;
    }
    
    .table-pc {
        display: block;
        
    }
    thead th {
        height: 50px;
        padding: 10px;
        font-size: 18px;
        font-weight: 500;
        border-right: 1px solid #fff;
        background-color: #E5EAE8;
        text-align: center;
    }

    /* ================================ */
    /* guide01 */
    .guide01 .inner-box li {
        padding-left: 60px;
        line-height: 39px;
        font-size: 16px;
        color: #666;   
    }
    .guide01 .inner-box li::before {
        left: 45px;
    }

    /* ================================ */
    /* guide03 */
    .guide03 .inner-box ul > li {
        padding-left: 30px;
    } 
    

    .guide03 .inner-box li::before {
        left: 15px;
    }


    .guide06 tbody tr.active + tr.answer td {
        /*tr, td에 dispaly:block을 주면 레이아웃이 깨짐*/
        display: table-cell;
        padding: 30px 60px;
        background-color: #f9f9f9;
    }

    .inner-box.top {
        display: flex;
    }

}