/* 슬라이더 */
.slider {
    width: 100%;
    height: 450px;
    position: relative;
    overflow: hidden;
}

.slider-list {
    display: flex;
    width: 400%;
    height: 100%;
    position: relative;
    left: 0;
}

.slider-list li {
    width: calc(100% / 4);
    height: 100%;
}

.slider-list li:nth-child(1),
.slider-list li:nth-child(4){
    background: url(../images/slide/m-slide01.png) no-repeat center;
}

.slider-list li:nth-child(2){
    background: url(../images/slide/m-slide02.png) no-repeat center;
}

.slider-list li:nth-child(3){
    background: url(../images/slide/m-slide03.png) no-repeat center;
}

.slider-btn {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.slider-btn span {
    display: block;
    width: 20px;
    height: 10px;
    margin: 0 5px;
    border-radius: 100px;
    background-color: #fff;
    transition: all 0.5s;
}

.slider-btn span:hover {
    background-color: #E5EAE8;
}

.slider-btn span.active {
    width: 40px;
    background-color: #227C39;
}

.slider-btn button {
    width: 25px;
    height: 25px;
    border-radius: 100%;
}

.slider-btn button.play {
    background: url(../images/btn-stop.png) no-repeat center #fff;
}

.slider-btn button.stop {
    background: url(../images/btn-play.png) no-repeat center #fff;
}

/* 자주 찾는 서비스 */
.quick-inner {
    overflow-x: auto;
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}

.quick-inner ::-webkit-scrollbar {
    display: none;
}

.quick-menu {
    position: relative;
    width: 950px;
    left: 0;
    display: flex;
    flex-flow: nowrap;
}

.quick-menu li {
    width: 110px;
    height: 110px;
    margin-right: 10px;
    border-radius: 20px;
    border: 1px solid #ebebeb;
    background-color: #fff;
}

.quick-menu li:last-child {
    margin-right: 0;
}

.quick-menu li a {
    display: block;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
}

.quick-menu li:hover a {
    color: #227C39;
} 

.quick-menu li .inner {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.quick-menu li a .ico {
    width: 48px;
    height: 48px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.quick-menu li:nth-child(1) .ico {
    background-image: url(../images/ico_quick01.png);
}

.quick-menu li:nth-child(1):hover .ico {
    background-image: url(../images/ico_quick01_hover.png);
}

.quick-menu li:nth-child(2) .ico {
    background-image: url(../images/ico_quick02.png);
}

.quick-menu li:nth-child(2):hover .ico {
    background-image: url(../images/ico_quick02_hover.png);
}

.quick-menu li:nth-child(3) .ico {
    background-image: url(../images/ico_quick03.png);
}

.quick-menu li:nth-child(3):hover .ico {
    background-image: url(../images/ico_quick03_hover.png);
}

.quick-menu li:nth-child(4) .ico {
    background-image: url(../images/ico_quick04.png);
}

.quick-menu li:nth-child(4):hover .ico {
    background-image: url(../images/ico_quick04_hover.png);
}

.quick-menu li:nth-child(5) .ico {
    background-image: url(../images/ico_quick05.png);
}

.quick-menu li:nth-child(5):hover .ico {
    background-image: url(../images/ico_quick05_hover.png);
}

.quick-menu li:nth-child(6) .ico {
    background-image: url(../images/ico_quick06.png);
}

.quick-menu li:nth-child(6):hover .ico {
    background-image: url(../images/ico_quick06_hover.png);
}


.quick-menu li:nth-child(7) .ico {
    background-image: url(../images/ico_quick07.png);
}

.quick-menu li:nth-child(7):hover .ico {
    background-image: url(../images/ico_quick07_hover.png);
}

.quick-menu li:nth-child(8) .ico {
    background-image: url(../images/ico_quick08.png);
}

.quick-menu li:nth-child(8):hover .ico {
    background-image: url(../images/ico_quick08_hover.png);
}




/* 콘텐츠영역 */
.content .tab {
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid #ebebeb;
}

.content .tab {
    margin-bottom: 20px;
}


.tab-inner {
    height: 100%;
}

.tab-top {
    display: flex;
    justify-content: space-between;
    height: 50px;
    border-bottom: 1px solid #ebebeb;
}

.tab-header {
    margin-left: 10px;
    font-size: 0;
}

.tab-header li {
    display: inline-block;
    height: 50px;
    padding: 0 10px;
    line-height: 50px;
    font-size: 18px;
    border-bottom: 2px solid rgba(0, 0, 0 ,0);
    cursor: pointer;
}

.tab-header li.active {
    position: relative;
    z-index: 20;
    font-weight: 600;
    color: #227C39;
    border-bottom: 2px solid #227C39;
}

.tab-top button {
    width: 50px;
    height: 50px;
    background: url(../images/ico-more.png) no-repeat center;
}

.tab-bottom {
    height: calc(100% - 50px);
    padding: 10px;
}

.tab-bottom ul {
    display: none;
}

.tab-bottom ul.active {
    display: block;
}

.calendar li {
    display: flex;
    flex-flow: column;
    padding: 10px 0;
}

.calendar li span {
    width: 100%;
    padding-left: 10px;
    position: relative;
    font-weight: 600;
}

.calendar li span::before {
    content: "";
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #227C39;   
}

.notice li a {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 10px 0 10px 10px;
    position: relative;
}

.notice li a::before {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    margin-right: 10px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #227C39;   
}

.notice li a:hover {
    background-color: #E5EAE8;
}

.notice li a p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notice li a span {
    min-width: 100px;
}

.content .banner {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid #ebebeb;
    overflow: hidden;
}

.banner-list {
    display: grid;
    grid-template-columns: repeat(6, minmax(100%, 1fr));
    column-gap: 20px;
    position: relative;
    left: 0;
}

.banner-list li {
   width: 100%;
   height: 100%;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

.banner-list li::before{
    content: "";
    display: block;
    padding-bottom: 100%;
}

.banner-list li:nth-child(1),
.banner-list li:nth-child(5)  {
    background-image: url(../images/banner/320_banner01.png);
}

.banner-list li:nth-child(2),
.banner-list li:nth-child(6) {
    background-image: url(../images/banner/320_banner02.png);
}

.banner-list li:nth-child(3) {
    background-image: url(../images/banner/320_banner03.png);
}

.banner-list li:nth-child(4) {
    background-image: url(../images/banner/320_banner04.png);
}



/* 전화번호안내 */
.info-item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 288px;
    margin-bottom: 20px;
    border: 1px solid #ebebeb;
    border-radius: 20px;
}

.info-item:last-child {
    margin-bottom: 0;
}

.info-item .ico-box {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    border-radius: 100px;
}

.info-item:nth-child(1) .ico-box {
    background: url(../images/ico-info01.png) no-repeat center #227C39;
} 

.info-item:nth-child(2) .ico-box {
    background: url(../images/ico-info02.png) no-repeat center #227C39;
} 

.info-item:nth-child(3) .ico-box {
    background: url(../images/ico-info03.png) no-repeat center #227C39;
} 

.info-item .text-box {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}

.info-item .text-box b {
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    color: #227C39;
}



@media all and (min-width: 430px) {
    .banner-list li::before{
        padding-bottom: 65%;
    }
    
    .banner-list li:nth-child(1),
    .banner-list li:nth-child(5)  {
        background-image: url(../images/banner/1280_banner01.png);
    }
    
    .banner-list li:nth-child(2),
    .banner-list li:nth-child(6) {
        background-image: url(../images/banner/1280_banner02.png);
    }
    
    .banner-list li:nth-child(3) {
        background-image: url(../images/banner/1280_banner03.png);
    }

    .banner-list li:nth-child(4) {
        background-image: url(../images/banner/1280_banner04.png);
    }
}

@media all and (min-width: 768px){
    /* 슬라이더 */
    .slider {
        height: 450px;
    }

    .slider-list li:nth-child(1),
    .slider-list li:nth-child(4){
        background: url(../images/slide/t-slide01.png) no-repeat center;
    }

    .slider-list li:nth-child(2){
        background: url(../images/slide/slide02.png) no-repeat center;
    }

    .slider-list li:nth-child(3){
        background: url(../images/slide/slide03.png) no-repeat center;
    }
    
    
    
    /* 자주 찾는 서비스 */
    .quick-menu {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, minmax(160px, 1fr));
        column-gap: 20px;
        row-gap: 20px;
    }

    .quick-menu li {
        position: relative;
        width: 100%;
        height: 100%;
    }
      
    /* 정사각형 비율을 유지하기 */
    .quick-menu li::before {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

    .quick-menu li a {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
    }
    
    .quick-menu li:hover a {
        color: #227C39;
    } 

    .quick-menu li .inner {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .quick-menu li a .ico {
        width: 48px;
        height: 48px;
        margin-bottom: 10px;
    }
    
    

    /* 콘텐츠 영역 */
    .tab-bottom {
        padding: 10px 20px;
    }

    .calendar li {
        flex-flow: row nowrap;
        justify-items: flex-start;
        align-items: center;
    }
    
    .calendar li span {
        width: auto;
        padding: 0 10px;
    }
    
    .content .banner {
        border: none;
    }

    .banner-list {
        display: grid;
        grid-template-columns: repeat(6, minmax(calc((100% - 20px)/2), 1fr));
        column-gap: 20px;
    }

    .banner-list li {
        border-radius: 20px;
        border: 1px solid #ebebeb;
    }

    .banner-list li::before{
        padding-bottom: 88%;
    }
    
    .banner-list li:nth-child(1),
    .banner-list li:nth-child(5) {
        background-image: url(../images/banner/768_banner01.png);
    }
    
    .banner-list li:nth-child(2),
    .banner-list li:nth-child(6) {
        background-image: url(../images/banner/768_banner02.png);
    }
    
    .banner-list li:nth-child(3) {
        background-image: url(../images/banner/768_banner03.png);
    }

    .banner-list li:nth-child(4) {
        background-image: url(../images/banner/768_banner04.png);
    }
    
    
    /* 전화번호안내 */
    .information .wrap {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
    }
    
    .information > div > div {
        height: 288px;
        margin-bottom: 20px;
    }
    
    .information > div > div:last-child {
        margin-bottom: 0;
    }
    
}

@media all and (min-width: 1024px){
    /* 슬라이더 */
    .slider-list li:nth-child(1),
    .slider-list li:nth-child(4){
        background: url(../images/slide/slide01.png) no-repeat center left;
    }

    /* 자주 찾는 서비스 */
    .quick ul {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        column-gap: 10px;
        row-gap: 0;
    }
    
    
    /* 콘텐츠영역 */
    .content .wrap {
        display: grid;
        grid-template-columns: minmax(560px, 2fr) minmax(364px, 1fr);
        column-gap: 20px;
    }
    
    .content .tab {
        height: 100%;
        margin-bottom: 0;
    }

    .banner-list {
        display: grid;
        grid-template-columns: repeat(6, minmax(100% , 1fr));
        column-gap: 20px;
    }

    .banner-list li:nth-child(1),
    .banner-list li:nth-child(5) {
        background-image: url(../images/banner/1024_banner01.png);
    }
    
    .banner-list li:nth-child(2),
    .banner-list li:nth-child(6) {
        background-image: url(../images/banner/1024_banner02.png);
    }
    
    .banner-list li:nth-child(3) {
        background-image: url(../images/banner/1024_banner03.png);
    }

    .banner-list li:nth-child(4) {
        background-image: url(../images/banner/1024_banner04.png);
    }
}

@media all and (min-width: 1280px) {
    /* 슬라이더 */
    .slider-list li:nth-child(1),
    .slider-list li:nth-child(4){
        background: url(../images/slide/slide01.png) no-repeat center;
    }

    /* 자주 찾는 서비스 */
    .quick-menu {
        grid-template-columns: repeat(8, minmax(140px, 1fr));
        row-gap: 0;
        }
}


